@use '../abstracts/variables' as vars;

h1 {
  font-family: vars.$font-title;
  font-size: vars.$font-size-xl;
  color: vars.$primary-color;
  margin-bottom: vars.$spacing-sm;
  text-align: center;
  display: block;
  text-shadow: vars.$text-shadow-primary;
  position: relative;
  padding-bottom: vars.$spacing-sm;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: vars.$gradient-line-width;
    max-width: vars.$gradient-line-max-width;
    height: vars.$border-bottom-height;
    background: vars.$gradient-line;
  }
}

footer {
  display: block;
}

h1 {
  display: block;
}

[data-testid='info-panel-wrapper'] {
  display: block;
}

.status-online {
  color: vars.$status-online-color;
  font-weight: bold;
}

.status-offline {
  color: vars.$status-offline-color;
  font-style: italic;
}
